
<div>

	<header class='demos-header'>
      <h1 class="demos-title">已经登录系统</h1>
    </header>
    
	<div class="weui-cells weui-cells_form">
	&nbsp;&nbsp;&nbsp;&nbsp;路由跳转实例
	<div class="weui-cells">
		<router-link to="/blog" class="weui-cell weui-cell_access">
			<div class="weui-cell__bd">
				<p>个人gitpage博客</p>
			</div>
			<div class="weui-cell__ft">
			</div>
		</router-link>
		<router-link to="/zhihu" class="weui-cell weui-cell_access">
			<div class="weui-cell__bd">
				<p>知乎</p>
			</div>
			<div class="weui-cell__ft">
			</div>
		</router-link>
	</div>
      
    </div>

    
</div>

